.wrap{
    margin: 0 auto;
    width:80%;
    border: 5px solid black;
    text-align: center;
    -webkit-box-shadow: 10px 10px 48px 0px rgba(0,140,7,1);
    -moz-box-shadow: 10px 10px 48px 0px rgba(0,140,7,1);
    box-shadow: 10px 10px 48px 0px rgba(0,140,7,1);
}
#play-field-flex, #actions-field-flex, #result-field-flex{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: space-around;  
    padding: 10px;
}
#play-field-flex,#actions-field-flex{
        background: url('images/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color:white;
}
.yourSide, .pcSide{
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
    width:50%;
    height: 500px;
    padding: 10px;
}
.actionButtons{
    padding: 10px;
    border: 1px solid black;
}
.resultTable{
    padding:10px;
}
#results{
    border-style: solid; 
    border-width: 5px; 
    border-color: #8ebf42;
    background-color: #d9d9d9;
}
tr,td,th{
    padding: 10px;
    border: 1px solid #8ebf42;
}

